 <div class="user-details">
  <h1> About Me </h1>
  <p align="left"> Hey, I'm Bhavya!<br>
    I'm a full stack software developer with two years of experience. I work on end to end web development and Azure based network architechture.<br>
    I am also enthusiastic about entrepreneurship and am looking forward to starting my own venture or joining a promising idea.<br><br>
    
    Other than these,<br>
    I love to hit the gym and am always up for a game of chess!<br><br>
    
    email:  bhavyas2603@gmail.com<br>
    number: +91-8949485816<br>
    chess.com: @coppenhager<br>
      You can check my projects and experience below. </p>
</div>
<h1>Dev Skills</h1>
<div class="user">
    <div class="tech">
    <h3>Frontend</h3>
    <ul style="color:Black;font-size:20px;text-align:left">
    <li><b>MERN stack:</b></li>
    <li>MongoDB,ExpressJS,ReactJS,NodeJS</li>
    <li><b>LAMP stack:</b></li>
    <li>Apache,MySQL,PHP,Ubuntu</li>
    <li>HTML,CSS,JS</li>
    <li>ReactJS,NextJS</li>
    </ul>

  </div>
  <div class="tech">
    <h3>Backend</h3>
    <ul style="color:Black;font-size:20px;text-align:left">
      <li>GoLang</li>
      <li >Python</li>
      <li>C</li>
      <li>C++</li>
      <li>PHP</li>
    </ul>

  </div>
  <div class="tech">
    <h3>Other</h3>
    <ul style="color:Black;font-size:20px;text-align:left">
      <li>Azure Cli</li>
      <li >MongoDB</li>
      <li>Redis</li>
      <li>Solr</li>
      <li>MySQL</li>
    </ul>

  </div>

  <!-- <div class="tech">
    <h3>Software</h3>
    <ul style="color:Black;font-size:20px;text-align:left">
      <li >ROS</li>
      <li >Gazebo</li>
      <li >OpenCV</li>
      <li >MATLAB</li>
      <li >Simulink</li>
      <li >Fusion360</li>
      <li >Solidworks</li>
    </ul>

  </div>
  <div class="tech">
    <h3>Hardware</h3>
    <ul style="color:Black;font-size:20px;text-align:left">
      <li >Arduino</li>
      <li >Raspberry-Pi</li>
      <li >ESP-32</li>
      <li >Motors and Encoders</li>
      <li >Sensors and Camera</li>

    </ul>

  </div> -->

</div>
