<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<!-- =================================SpiderBot======================================= -->

<div class="user-projects">
  <div class="images-right">
      <h2>           </h2>
    <img alt="mountains" src="{{ "/assets/img/Spiderbot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Project Spiderbot </h3>
    <ul>
      <li> Skills developed:</li>
      <li>ROS</li>
      <li>Gazebo</li>
      <li>RViz</li>
      <li>Fusion360</li>
    </ul>
    <p>Spiderbot is a Quadruped Robot that follows a creep gait, like that of a Spider. </p>
    <a class="project-link" href="/projects/spiderbot.html">Check it out</a>
  </div>
</div>

<!-- =================================BIPED======================================= -->

<div class="user-projects">
    <h2>           </h2>
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Biped.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Self-excited Biped mechanism</h3>
    <!-- <ul>
      <li> Featured Skills</li> -->
    <!-- </ul> -->
    <p>This project aims to study self-excited biped walking mechanism, by exploring stability and dyanmics of designs in the research papers by Prof. V Sangwan (IITD) and Prof. Takahashi (Tokyo University) </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>


<!-- =================================SnakeBot======================================= -->


<div class="user-projects">
    <h2>           </h2>
  <div class="images-right">
      <h2>           </h2>
    <img alt="mountains" src="{{ "/assets/img/Spiderbot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Project Snakebot </h3>
    <ul>
      <li> Skills developed:</li>
      <li>ROS</li>
      <li>Gazebo</li>
      <li>RViz</li>
      <li>Fusion360</li>
    </ul>
    <p>Spiderbot is a Quadruped Robot that follows a creep gait, like that of a Spider. </p>
    <a class="project-link" href="/projects/spiderbot.html">Check it out</a>
  </div>
</div>

<!-- =================================HMT======================================= -->

<div class="user-projects">
    <h2>           </h2>
  <div class="images-left">
    <h2>           </h2>
    <img alt="mountains" src="{{ "/assets/img/drone.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Human-Machine Teaming using quadcopters</h3>
    <!-- <ul>
      <li> Featured Skills</li> -->
    <!-- </ul> -->
    <p>This Project is in collaboration with DRDO and is proposed to be used for Army missions. We aim to ake swarm drones that collaborate with each other and humans to make defense system more efficient. </p><a class="project-link" href="#">Check it out</a>
  </div>
</div>

<!-- =================================F1 Racecar motion planning======================================= -->


<div class="user-projects">
    <h2>           </h2>
  <div class="images-left">
    <h2>           </h2>
    <img alt="mountains" src="{{ "/assets/img/Unibots.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Motion of a racecar on a complicated Track</h3>
    <ul>
      <li> Featured Skills</li>
      <li> 2D Visual Odometry</li>
      <li> Computer Vision-using OpenCV</li>
      <li> path planning </li>
    </ul>
    <p>In this project I write a code for precise motion of simulation of a Racecar on a complicated racetrack. I used OpenCV to locate the car and an inverse algorithm to direct it.The allowed inputs that could be given to the car are linear and angular velocity </p><a class="project-link" href="#">Check it out</a>
  </div>
</div>

<!-- ===================================Smart Vision Analysis===================================== -->

<div class="user-projects">
    <h2>           </h2>
  <div class="images-left">

    <img alt="mountains" src="{{ "/assets/img/SVA1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
      <h2>           </h2>
    <h3>Smart Vision Analysis</h3>
    <ul>
      <li> Featured Skills</li>
      <li>Computer Vision</li>
      <li>Basics of Neuroscience </li>

    </ul>

    <p>This project aims to analyse the reception of images and colors to the brain to impprove computer vision techniques </p><a class="project-link" href="#">Check it out</a>
  </div>
</div>

<!-- =================================BIPED======================================= -->


<div class="user-projects">
    <h2>           </h2>
  <div class="images-left">

    <img alt="mountains" src="{{ "/assets/img/HM.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Project Holter monitor</h3>
    <!-- <ul>
      <li> Featured Skills</li>
      <li>Computer Vision</li>
      <li>Basics of Neuroscience </li>

    </ul> -->

    <p>Project Holter monitor is to make a heart rate monitor which is much more cost efficient, and thus would be better accessible. </p><a class="project-link" href="#">Check it out</a>
  </div>
</div>

<!-- =================================BIPED======================================= -->
